.hind-mysuru-light {
    font-family: "Hind Mysuru", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hind-mysuru-regular {
    font-family: "Hind Mysuru", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hind-mysuru-medium {
    font-family: "Hind Mysuru", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .hind-mysuru-semibold {
    font-family: "Hind Mysuru", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .hind-mysuru-bold {
    font-family: "Hind Mysuru", serif;
    font-weight: 700;
    font-style: normal;
  }
  
*{
    font-family: "Hind Mysuru", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
}
#heading{
  text-align: center;  
  padding: 10px;
  /* margin-top: 20px; */
  color: rgb(178, 8, 190);
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(151, 91, 224, 0.301);
    color: rgb(255, 255, 255);
}
#quiz_area{
    position:relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 400px;
    height: 100%;
    gap: 10px;
    background-color: rgb(196, 222, 244);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(23, 53, 61);
    color: black;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    transition: box-shadow 1s ease-in-out;
}


#quiz_area:hover{
  cursor: pointer;
  box-shadow:  0px 0px 50px rgb(27, 136, 167);;
}
#quiz_area >h1{
    font-size: 30px;
}
#start_btn{
    padding: 15px;
    background-color: rgb(94, 201, 94);
    box-shadow: 0px 0px 12px rgb(25, 192, 72);
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
}
ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  gap:16px;
}
.questionli{
  color: black;
  list-style-type: none;
  width:100%;
  padding: 4px;
  text-align: center;
  font-size: 14px;
  transition: font-size 0.1s ease;
}
.questionli:hover{
  border-bottom:2px solid pink;
  font-size: 20px;
}
.questionli:last-child{
  border: none;
}
.questions_div{
  background-color:  rgb(222, 120, 230);
  box-shadow: 0px 0px 20px rgb(39, 1, 75);
  width: 90%;
  height: 98%;
  border-radius: 40%; 
  position: absolute;
  top: 8px;
  max-height: 100%;
  overflow-y: hidden;
  display: none;
}
.questions_div2{
  background-color:  rgb(222, 120, 230);
  box-shadow: 0px 0px 20px rgb(39, 1, 75);
  width: 90%;
  height: 98%;
  border-radius: 40%; 
  position: absolute;
  top: 8px;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: hidden;
  display: none;
  padding: 15%;
  /* display: hidden; */
}
.optionUl{
  width: 100%;
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 10%;
   gap: 10px;
   align-items:flex-start;
   /* list-style-type: circle; */
}
.optionUl >li{
  width: 90%;
  list-style: circle;
}
/* .question_p_tag{
  position: relative;
  top: 15%;
} */
.slider{
  display: block;
  animation: slideToRightMore 2s ease forwards;
}
.slider2{
  /* display: block; */
  animation: slideToRight 2s ease forwards;
}

.hidden{
  display: none;
  overflow-x:hidden;
  background-color: red;
}
.QuestionContent{
  color: black;
  /* background-color: red; */
}
.next_prev_btn{
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}
.next_prev_btn>button{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20%;
  background-color: rgba(198, 245, 11, 0.536);
}
.spanBox{
  width: 20px;
  height: 10px;
  background-color: azure;
  border: 2px solid black;
  border-radius: 150%;
}
.optionDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionDiv2{
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;

}
.questions_div3{
  background-color:  rgb(222, 120, 230);
  box-shadow: 0px 0px 20px rgb(39, 1, 75);
  width: 89%;
  height: 98%;
  border-radius: 40%; 
  position: absolute;
  top: 8px;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
button{
  border-radius: 10px;
  text-align: center;
  background-color: azure;
  padding: 2px;
}
.transformClass{
   font-size: 14px;
   animation:blinking 2s ease-in-out infinite;
}


@keyframes slideToRightMore{
 0%{
  right: -100%;
 }
 100%{
   right:6% ;
 }
}
@keyframes slideToRight{
  0%{
    right: 15%;
  }
  100%{
    right: 110%;
  }

} 
@keyframes blinking {
  0%{
    font-size: 14px;
  }
  50%{
    font-size: 20px;
  }
  100%{
    font-size: 14px;
  }
}

@media  screen and (max-width:700px) {
  #quiz_area{
    width: 90%;
    height: 50%;
  }
}
@media  screen and (min-width:701px) and (max-width:900px) {
  #quiz_area{
    width: 500px;
   height: 700px;
  }
}